h1 {
	text-align: center;
}

.list {
	list-style-type: none;
	width: 80%;
	margin: 0 auto;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 1rem;
	margin-bottom: 50px;
}

.item {
	display: flex;
	justify-content: center;
	overflow: hidden;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	align-self: center;
	justify-self: center;
	border: 3px solid gray;
	transition: transform 1s;
}

.item:nth-child(4n + 1):hover,
.item:hover {
	border: 3px solid yellow;
	transform: rotate(45deg);
}

.item > img {
	height: 100%;
}

@media (min-width: 500px) and (max-width: 899px) {
	.list {
		grid-template-columns: repeat(2, 1fr);
	}

	.item:nth-child(2n + 1) {
		border: 2px solid red;
	}

	.item:nth-child(2n + 1):hover {
		border: 3px solid yellow;
	}
}

@media (min-width: 900px) {
	.list {
		grid-template-columns: repeat(4, 1fr);
	}

	.item:nth-child(4n + 1) {
		border: 2px solid red;
	}

	.item:nth-child(4n + 1):hover {
		border: 3px solid yellow;
	}
}
